.footer {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  padding: 5rem 0;
  border-top: .1rem solid color(primary);
  @include flexPosition(space-around);
}

.footer-nav {
  @include footerList;
}

.contact-list {
  @include footerList;
}