$color-primary: orange;
$color-secondary: grey;
$color-tertiary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
    // build in functions
    background-color:
            lighten($color-primary, 20%);

    ul {
        li {
            list-style: none;
        }
    }
     a {
         text-decoration: none;
         font-size: $font-md;
         color: $color-secondary;

         &:hover {
            color: $color-tertiary;
         }
     }
}

// Mixin
@mixin headingStyles($fontSize, $colorName: $color-secondary) {
    font-size: $fontSize;
    color: $colorName;
    text-align: center;
}

// Transition mixin
@mixin transition($param...) {
    transition: $param;
}

// Extend example
//.heading {
//    color: $color-primary;
//    background-color: $color-secondary;
//    font-size: $font-lg;
//    text-align: center;
//}

// Placeholder selectors
%heading {
    color: $color-primary;
    background-color: $color-secondary;
    font-size: $font-lg;
    text-align: center;
}

// Function example
@function changeFontSize($fontSize) {
    @return $fontSize * 2;
}

.banner h1 {
    // Local scope
    //$color-secondary: red;
    //@include headingStyles($font-lg, $color-secondary);

    // using extend
    //@extend .heading;
    @extend %heading;
}

.footer h3 {
    @include headingStyles($font-md);
    @include transition(color .5s, background-color 1s);

    &:hover {
        color: $color-tertiary;
        background-color: $color-primary;
    }
}

// Demonstrate function
.banner p {
    font-size: changeFontSize($font-sm);
}