$color-primary: orange;
$color-secondary: grey;
$color-tertiary: royalblue;

$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;

.nav {
    background-color: $color-primary;

    ul {
        li {
            list-style: none;
        }
    }
     a {
         text-decoration: none;
         font-size: $font-md;
         color: $color-secondary;

         &:hover {
            color: $color-tertiary;
         }
     }
}

// Mixin
@mixin headingStyles($fontSize, $colorName: $color-secondary) {
    font-size: $fontSize;
    color: $colorName;
    text-align: center;
}

// Transition mixin
@mixin transition($param...) {
    transition: $param;
}

.banner h1 {
    // Local scope
    $color-secondary: red;
    @include headingStyles($font-lg, $color-secondary);
}

.footer h3 {
    @include headingStyles($font-md);
    @include transition(color .5s, background-color 1s);

    &:hover {
        color: $color-tertiary;
        background-color: $color-primary;
    }
}