.numbers {
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px; }

.strings {
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-style: italic; }

.colors {
  color: red;
  background-color: #ff0000;
  border-color: red;
  outline-color: red; }

.lists {
  margin: 10px 15px 5px 20px;
  font-family: 'Raleway', 'Dosis', 'Lato', serif;
  border: 1px solid red; }

h1 {
  color: red;
  background-color: green; }

.check-map {
  border-color: cyan; }

h2 {
  box-sizing: border-box;
  border: 1px solid red;
  color: green;
  background-color: blue; }

.paragraph-1 {
  background-color: red; }

.paragraph-2 {
  background-color: green; }

.paragraph-3 {
  background-color: blue; }

.paragraph-4 {
  background-color: orange; }

.paragraph-red {
  background-color: red; }

.paragraph-green {
  background-color: green; }

.paragraph-blue {
  background-color: blue; }

.paragraph-orange {
  background-color: orange; }

h3 {
  font-size: 50px; }
